/* Estilos para la página de menú de bebidas */

/* Estilo del cuerpo de la página */
body {
    background: linear-gradient(80deg, #9ea1a3 40%, #697079 60%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: rgb(0, 0, 0);
    color: rgb(225, 214, 214);
    padding: 25px 0; /* Ajustar el padding superior e inferior */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 100%; /* Ajuste para mover la imagen del logo a mitad */
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.logo img {
    border-radius: 50%;
    width: 100px; /* Ajustar el tamaño del logo */
    height: auto;
}

nav {
    margin-left: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    background-color: rgba(35, 221, 227, 0.395);
    padding: 10px 20px;
    border-radius: 20px; /* Hacer los enlaces ovalados */
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #23dde3; /* Cambiar el color al pasar el cursor */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño */
}

main {
    padding-top: 120px; /* Asegurar suficiente espacio para el header */
    box-sizing: border-box;
}

section {
    margin-bottom: 40px;
}

h1{
    text-align: center;
}

h2 {
    color: #333; /* Color del texto del título */
    border-bottom: 2px solid #333; /* Línea inferior */
    padding-bottom: 5px; /* Espaciado inferior */
    text-align: center;
}

.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaciado entre las bebidas */
    justify-content: space-between;
}

.bebida {
    flex: 1 1 calc(33.333% - 20px); /* Tres bebidas por fila con margen */
    box-sizing: border-box;
    background-color: rgba(19, 255, 247, 0.122); /* Fondo de cada bebida */
    padding: 10px;
    border-radius: 10px; /* Esquinas redondeadas */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.bebida:hover {
    transform: scale(1.05);
}

.bebida img {
    width: 50%;
    height: 70%;
    border-radius: 10px;
}

.bebida p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #333;
}

/* Estilo del pie de página */
footer {
    background-color: #34495E; /* Color de fondo */
    color: #FFF; /* Color del texto */
    padding: 20px;
    text-align: center;
}

.redes-sociales {
    margin-bottom: 20px;
}

.red-social {
    color: #FFF;
    font-size: 24px;
    margin: 0 10px;
}

.contacto p {
    margin: 0;
}

/* Media Queries para hacer la página responsiva */
@media only screen and (max-width: 900px) {
    .logo {
        position: relative; /* Ajustamos la posición relativa para que esté dentro del header */
        top: auto; /* Restablecer la posición superior */
        left: auto; /* Restablecer la posición izquierda */
        transform: none; /* Restablecer la transformación */
        margin-left: 10px; /* Agregar margen para alinear a la izquierda */
    }

    .logo img {
        width: 40px; /* Ajuste el tamaño del logo para pantallas pequeñas */
    }

    nav ul {
        display: none; /* Oculta la lista de enlaces de navegación */
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 50px;
        right: 0;
        width: 250%;
        padding: 50px;
    }

    .menu-toggle {
        display: block;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
        margin: 25px 0; /* Añadir margen vertical entre los elementos */
       /* text-align: center;*/
    }

    .bebida {
        flex: 1 1 100%; /* Cada bebida ocupa el 100% del ancho en pantallas pequeñas */
    }
}